body {
  background-color: #F5F5F3;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
}

/* HEADER */
.header {
  padding: 40px 200px 20px 200px;
}

/* TOP BAR */
.top-bar {
  position: relative;
  text-align: center;
}

/* LOGO */
.logo a {
  text-decoration: none;
  color: #6c0000;
  font-size: 42px;
  letter-spacing: 3px;
  font-weight: 700;
}

/* ICONOS DERECHA */
.nav-right {
  position: absolute;
  right: 0;
  top: 0;
}

.nav-right a {
  margin-left: 15px;
  text-decoration: none;
}

/* ICONOS */
.icon svg {
  stroke: #1A1A1A;
  transition: 0.3s;
}

.icon svg:hover {
  stroke: #6c0000;
}

/* MENU */
.menu {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LINKS */
.menu-left a {
  margin-right: 25px;
  text-decoration: none;
  color: #1A1A1A;
  font-size: 14px;
  letter-spacing: 1px;
}

.menu-left a:hover {
  color: #6c0000;
}

/* SEARCH */
.menu-right {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1A1A1A;
  padding-bottom: 3px;
}

.search-box svg {
  margin-right: 6px;
  stroke: #1A1A1A;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 13px;
  width: 150px;
}

.search-box input::placeholder {
  color: #888;
  letter-spacing: 1px;
}

/* CONTENIDO */
.contenedor {
  max-width: 1100px;
  margin: auto;
  padding: 60px 100px;
  text-align: center;
}

/* TITULOS */
.contenedor h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}