body {
  background-color: #F5F5F3;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
}

/* HEADER */
.header {
  padding: 30px 50px 10px 50px;
}

/* TOP BAR */
.top-bar {
  position: relative;
  text-align: center;
}

/* LOGO GRANDE */
.logo a {
  text-decoration: none;
  color: #570000;
  font-size: 42px;
  letter-spacing: 3px;
  font-weight: 700;
}

/* ICONOS DERECHA */
.nav-right {
  position: absolute;
  right: 0;
  top: 0;
}

.nav-right a {
  margin-left: 15px;
  text-decoration: none; 
}

/* ICONOS */
.icon svg {
  stroke: #1A1A1A;
  transition: 0.3s;
}

.icon svg:hover {
  stroke: #C1121F;
}

/* MENU MÁS CENTRADO VISUALMENTE */
.menu {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu a {
  text-decoration: none;
  color: #1A1A1A;
  font-size: 14px;
  letter-spacing: 1px;
}

.menu a:hover {
  color: #C1121F;
}

/* CONTENIDO */
.contenedor {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  text-align: center;
}

/* TITULOS */
.contenedor h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}